.records {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.records td,
.records th {
    border: 1px solid #ddd;
    padding: 8px;
}

.records tr:nth-child(even) {
    background-color: #f2f2f2;
}

.records tr:hover {
    background-color: #ddd;
}

.records th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0D5257;
    color: white;
}

body {
    background-color: #f0f8ff
}

.navbar-custom {
    background-color: #464646;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.legend>li:nth-of-type(1) {
    color: rgb(0, 139, 139);
}

.legend>li:nth-of-type(2) {
    color: rgb(0, 191, 255);
}

.legend>li:nth-of-type(3) {
    color: rgba(0, 0, 0, 1);
  } 

li{
    float: left;
    margin: 0 20px;
  }

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;

    margin-bottom: 1.5rem
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: transparent;
    border-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: transparent;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

card-footer,
.card-header {
    background-color: transparent;
    border-color: transparent;
    background-clip: padding-box;
    font-weight: bold;
    color: darkcyan;
    font-size: 150%;
}

h4 {
    color: darkcyan;
    font-weight: bold;
    font-size: 150%;
}

.padding {
    padding: 5rem
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: rgb(0, 0, 0);
    text-align: center;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a0;
}

.container {
    border-radius: 5px;
    background-color: #f2f2;
    padding: 20px;

}

.searchbar {
    background-color: #4654e100;
    width: 300px;
    height: 44px;
    float: right;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: -15px;
}

div.a {
    text-align: center;
}

body {

    margin: 0;
    padding: 0;
    font-family: sans-serif;

}



.box {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff00;
    text-align: center;
}

.company {
    width: 500px;
    padding: 30px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff00;
    ;
    text-align: center;
}

#complianceTableHead {
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a0;
}

.container {
    border-radius: 5px;
    background-color: #f2f2;
    padding: 20px;

}

.searchbar {
    background-color: #4654e100;
    width: 300px;
    height: 44px;
    float: right;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.a {
    text-align: center;
}

body {

    margin: 0;
    padding: 0;
    font-family: sans-serif;

}



.box {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff00;
    text-align: center;
}

.company {
    width: 600px;
    padding: 30px;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff00;
    text-align: center;
}

.company h1 {
    color: lightseagreen;
    font-size: 5em;
    font-family: itc bauhaus;
    text-transform: lowercase;
    font-weight: 700;
    text-align: center;


}

.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type="text"],
.box input[type="password"] {

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid black;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 270px;
    border-color: black;

}

.box input[type="button"] {

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid black;
    padding: 15px 35px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;

}

.box input[type="button"]:hover {
    background: white;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  /* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
background-color: #555;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
opacity: 0.8;
/* position: fixed;
bottom: 23px;
right: 28px;
width: 280px; */
}

/* The popup form - hidden by default */
.form-popup {
display: none;
position: fixed;
bottom: 0;
right: 15px;
border: 3px solid #f1f1f1;
z-index: 9;
}

/* Add styles to the form container */
.form-container {
max-width: 300px;
padding: 10px;
background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
background-color: #04AA6D;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}  

